.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f6f6;
    padding: 10px 0;
    text-align: center;
    color: #fff;
}

.footer-background {
    background: linear-gradient(135deg, #4e54c8, #8f94fb, #e668a0);
}