<div class="bg-primary">
    <section id="hero">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="4000">
            <div class="carousel-inner" role="listbox">
                <!--slide 1-->
                <div class="carousel-item active" style="background-image: url('https://image.slidesdocs.com/responsive-images/background/vibrant-neon-display-for-a-shopping-scene-powerpoint-background_7cb5d0abca__960_540.jpg');">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__bounceIn animate__delay-1s">Bienvenido</h2>
                            <p class="animate__animated animate__fadeIn animate__delay-2s">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure eum accusamus facilis dolores exercitationem assumenda corporis consequatur dolorum consequuntur, placeat perspiciatis quibusdam sed fugiat minima saepe eos at in officia.</p>
                            <button class="animate__animated animate__fadeInUp animate__delay-2s" mat-flat-button color="warn">Ver Más</button>
                        </div>
                    </div>
                </div>
                <!--slide 2-->
                <div class="carousel-item" style="background-image: url('https://image.slidesdocs.com/responsive-images/background/neon-lit-clothing-shop-with-personal-accessories-shoes-and-apparel-3d-rendering-powerpoint-background_cc42e36dc4__960_540.jpg');">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__bounceIn animate__delay-1s">Compra en linea</h2>
                            <p class="animate__animated animate__fadeIn animate__delay-2s">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure eum accusamus facilis dolores exercitationem assumenda corporis consequatur dolorum consequuntur, placeat perspiciatis quibusdam sed fugiat minima saepe eos at in officia.</p>
                            <button class="animate__animated animate__fadeInUp animate__delay-2s" mat-flat-button color="warn">Ver Más</button>
                        </div>
                    </div>
                </div>
                <!--slide 3-->
            </div>
            <a href="#heroCarousel" class="carousel-control-prev" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chrevron-left"></span>
            </a>
            <a href="#heroCarousel" class="carousel-control-next" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chrevron-right"></span>
            </a>
        </div>
    </section>
    <br>
    <div class="container main-content mb-5">
        <div class="row text-white">
            <div class="col-lg-6">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi, libero ab. Autem doloremque quas accusamus placeat facilis ipsa ullam labore, nam magni quibusdam voluptatum, atque cumque eius ipsam quia dicta.</p>
            </div>
            <div class="col-lg-6">
                <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta similique, officiis dignissimos quaerat facilis voluptatem reprehenderit magni autem blanditiis labore laudantium facere, perferendis alias deserunt minus! Possimus repellat distinctio mollitia?</p>
            </div>
        </div>
    </div>
    <br>
</div>